.navbar-shadow{
  background: #fff;
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: white;
}